<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>g33k.Score Calculator</title>
<link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen" />
<script type="text/javascript" src="javascripts/accordian.pack.js"></script>
</head>

<body onload="new Accordian('accordian',3,'header_highlight');">
<div id="header">
<h1><a href="http://g33k.heroku.com">g33k.score</a></h1>
<h2>calculate your geek score using your reputation on stackoverflow and github</h2>
</div>

<div id="accordian" >
  <div id="test-header" class="accordion_headings header_highlight" >get your score</div>
  <div id="test-content">
    <div class="accordion_child">
		<%= form_tag :action=> "register_user" %>
		                       <label for="user_stackoverflow_id">Stackoverflow URL:</label><br/>
		                       <%= text_field "user", "stackoverflow_id", :size => 20 %> 
		<div id="footer">Example: http://stackoverflow.com/users/231917/zengr </div><br/>
		<label>OR/AND</label><br/><br/>
		                       <label for="user_github_id">Github ID:</label><br/>
		                       <%= text_field "user", "github_id", :size => 20 %>
		<div id="footer"> Example: utkarsh2012 </div><br/>
		
		<%= submit_tag "Submit" %>
		<br/>
		
		<%=
		if @final_value != nil
			"<h2>You are " + @final_value.to_s + "% geek!</h2>" + 
			"<p> Why? <br>"+ 
			"Your Stackoverflow reputation: " + @so_reputation.to_s + "<br>" +
			"Your Github followers: "+@gh_followers.to_s + "<br>" +
			"Your Github Repos: "+ @gh_repos.to_s + "</p>"
		end
		 %>
	
	</div>
  </div>


  <div id="test1-header" class="accordion_headings" >How it works?</div>
  <div id="test1-content">
    <div class="accordion_child">
	You provide your Stackoverflow.com URL and/or the Github.com ID. g33k score calculator hits the SO and Github Web services, gets your SO reputation and Github repos+followers.<br/><br/>
	If you have more than 1000 reputation on SO, then you get 100% from Stackoverflow's side. <br/>
	If you have more than 10 followers and repos on Github, then you get 100% from Github's side.
    </div>
  </div>


  <!-- <div id="test2-header" class="accordion_headings" >Binary <-> ASCII conversion</div>
  <div id="test2-content">
    <div class="accordion_child">	
		<%= form_tag :action=> "ascii_to_bin_converter" %>
		                       <h3 for="user_ascii">ASCII:</h3><br/>
		                       <%= text_area "user", "ascii", :size => 20 %><br/>
	    <%= submit_tag "Convert to Binary" %>
	<br>
		<%= form_tag :action=> "bin_to_ascii_converter" %>
			                       <h3 for="user_binary">Binary:</h3><br/>
			                       <%= text_area "user", "binary", :size => 20 %><br/>
		<%= submit_tag "Convert to ASCII" %>
	<br/>

			<%=
				@converted_value.to_s
			 %>
    </div>
  </div> -->

  <div id="test3-header" class="accordion_headings" >Contact me</div>
  <div id="test3-content">
    <div class="accordion_child">
	utkarsh2012 [at] gmail [dot] com <br>
	utkarshsengar.com
    </div>
    
  </div>
</div>

<div id="footer">
<p class="validate"><a href="http://validator.w3.org/check?uri=referer">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/">CSS</a><br /><a href="#content">Top</a></p>		

©<a href="http://utkarshsengar.com">Utkarsh Sengar</a>.</p><br />
<p>UI: <a href="http://www.sixshootermedia.com">Six Shooter Media</a>.
<br/>
</div>

</body>
</html>